*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 16px;
    color: #345427;
}

.container {
    max-width: 1024px;
    width: 100%;
    /* O margin que está alinhando os containers */
    margin: 0 auto;
}

form {
    max-width: 350px;
}

.campo label{
    /* è o label com block que alinha encima do input */
    display: block;
    font-weight: bold;
}

.campo input {
    width: 100%;
    display: block;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #345427;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px 0 10px 0; 
}

form button {
    max-width: 120px;
}

footer {
    background-color: #345427;
    color: #fdfdfc;
}

.containerFooter {
    width: 1024px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

ul li{
    list-style: none;
    /* Display inlina deixa os ícones das redes sociais um ao lado do outro */
    display: inline;
}

ul li img {
    width: 32px;
}